@use 'mixins/mixins.scss' as *;

@include b(tree) {
  display: inline-block;
  width: 100%;
}

@include b('tree-node') {
  padding: 5px 0;
  font-size: 16px;

  @include e('label') {
    cursor: pointer;
  }

  @include when(disabled) {
    color: #c0c4cc;
    cursor: not-allowed;
  }

  &:hover {
    background-color: rgb(195, 195, 234);
  }

  @include e('expand-icon') {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transform: rotate(0deg);
    transition: transform 0.3s ease-in;
    &.expanded {
      transform: rotate(90deg);
    }
    &.is-leaf {
      color: transparent;
      cursor: default;
    }
  }
  @include when(selected) {
    background-color: aqua;
  }
}
